.form-signin
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = image_tag 'logo.png', alt: 'logotipo', class: 'mb-5', width: '320'

    %h1.h3.mb-3.font-weight-normal Sign up
    .form-inputs
      = f.input :email, 
        label: false,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email", id: 'inputEmail', placeholder: 'Email address' }

      = f.input :password,
        label: false,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password", placeholder: "Password", id: 'inputPassword' }

      = f.input :password_confirmation,
        label: false,
        required: true,
        input_html: { autocomplete: "new-password", placeholder: 'Password confirmation', id: 'inputPasswordConfirmation' }
    .form-actions
      = f.button :submit, "Sign up", class: 'btn btn-lg btn-primary btn-block'

      %p.mt-5.mb-3
        = render "devise/shared/links"