%h2
  %i.fa.fa-map
  Routes
%hr.mb-5
.table-responsive
  %table.table.table-hover.table-striped.table-bordered
    %thead
      %tr.text-center
        %th{:scope => "col"} #
        %th{:scope => "col"} Fligth Number
        %th{:scope => "col"} Dep
        %th{:scope => "col"} Arr
        %th{:scope => "col"} Alternative
        %th{:scope => "col"} Description
        %th{:scope => "col"} Duration
        %th{:scope => "col"}
          %i.fa.fa-cogs
    %tbody
      - @routes.each_with_index do |route, index|
        %tr.text-center
          %th{:scope => "row"}=index+1
          %td=route.flight
          %td=route.departure.icao
          %td=route.arrival.icao
          %td=route.alternative.icao
          %td=route.description.truncate(50)
          %td=route.duration
          %td 
            = link_to edit_admin_route_path(route), class: 'btn btn-sm btn-primary', title: 'Edit' do
              %i.fa.fa-edit

