= form_for([:admin, @rank]) do |f|
  - if @rank.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rank.errors.count, "error")} prohibited this rank from being saved:"
      %ul
        - @rank.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
