%h1 Listing ranks

%table
  %thead
    %tr
      %th Description
      %th
      %th
      %th

  %tbody
    - @ranks.each do |rank|
      %tr
        %td= rank.description
        %td= link_to 'Edit', edit_admin_rank_path(rank)
        %td= link_to 'Destroy', admin_rank_path(rank), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rank', new_admin_rank_path
