%header.topbar{"data-navbarbg" => "skin6"}
  %nav.navbar.top-navbar.navbar-expand-md.navbar-light
    .navbar-header{"data-logobg" => "skin5"}
      %a.nav-toggler.waves-effect.waves-light.d-block.d-md-none{:href => "javascript:void(0)"}
        %i.fa.fa-bars

      .navbar-brand
        = link_to admin_root_path, class: 'logo image-fluid' do
          %b.logo-icon
            = image_tag 'logo_branco.png', class: 'light-logo', width: '225'

      %a.topbartoggler.d-block.d-md-none.waves-effect.waves-light{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :href => "javascript:void(0)"}
        %i.fa.fa-ellipsis-h

    #navbarSupportedContent.navbar-collapse.collapse{"data-navbarbg" => "skin6"}
      %ul.navbar-nav.float-left.mr-auto.ml-3
        ="#{ current_pilot.callsign} #{ current_pilot.name }"
        
      %ul.navbar-nav.float-right
        %li
          = link_to root_path, class: 'btn btn-outline-primary', title: 'Site' do
            %i.fa.fa-home.m-r-5.m-l-5

          = link_to destroy_pilot_session_path, method: :delete, class: 'btn btn-outline-secondary ml-1', title: 'Logout' do
            %i.fa.fa-sign-out.m-r-5.m-l-5