%aside.left-sidebar{"data-sidebarbg" => "skin5"}
  .scroll-sidebar
    %nav.sidebar-nav
      %ul#sidebarnav
        %li.sidebar-item
          = link_to admin_root_path, class: 'sidebar-link waves-effect waves-dark sidebar-link', "aria-expanded" => "false" do
            %i.fa.fa-tachometer
            %span.hide-menu Dashboard
        %li.sidebar-item
          - if can? :crud, Rank 
            = link_to admin_ranks_path, class: 'sidebar-link waves-effect waves-dark sidebar-link', "aria-expanded" => "false" do
              %i.fa.fa-star
              %span.hide-menu Rank
        %li.sidebar-item
          = link_to admin_pilots_path, class: 'sidebar-link waves-effect waves-dark sidebar-link', "aria-expanded" => "false" do
            %i.fa.fa-users
            %span.hide-menu Pilots
        %li.sidebar-item
          = link_to admin_airports_path, class: 'sidebar-link waves-effect waves-dark sidebar-link', "aria-expanded" => "false" do
            %i.fa.fa-globe
            %span.hide-menu Airports
        %li.sidebar-item
          = link_to admin_routes_path, class: 'sidebar-link waves-effect waves-dark sidebar-link', "aria-expanded" => "false" do
            %i.fa.fa-map
            %span.hide-menu Routes