.form-signin
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = image_tag 'logo.png', alt: 'logotipo', class: 'mb-5', width: '320'

    %h1.h3.mb-3.font-weight-normal Please sign in
    .form-inputs
      = f.input :email, 
        label: false,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email", id: 'inputEmail', placeholder: 'Email address' }

      = f.input :password,
        label: false,
        required: false,
        input_html: { autocomplete: "current-password", placeholder: "Password", id: 'inputPassword' }
      .checkbox.mb-3
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Sign in", class: 'btn btn-lg btn-primary btn-block'

      %p.mt-5.mb-3
        = render "devise/shared/links"