-# frozen_string_literal: true
= simple_form_for(@aircraft) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :aricraft_type
    = f.input :tail_number
    = f.input :location
    = f.input :hub
    = f.input :hours
    = f.input :name
    = f.input :booked

  .form-actions
    = f.button :submit
