%h1 Listing aircrafts

%table
  %thead
    %tr
      %th Aricraft type
      %th Tail number
      %th Location
      %th Hub
      %th Hours
      %th Name
      %th Booked
      %th
      %th
      %th

  %tbody
    - @aircrafts.each do |aircraft|
      %tr
        %td= aircraft.aricraft_type
        %td= aircraft.tail_number
        %td= aircraft.location
        %td= aircraft.hub
        %td= aircraft.hours
        %td= aircraft.name
        %td= aircraft.booked
        %td= link_to 'Show', aircraft
        %td= link_to 'Edit', edit_aircraft_path(aircraft)
        %td= link_to 'Destroy', aircraft, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Aircraft', new_aircraft_path
