%p#notice= notice

%p
  %b Aricraft type:
  = @aircraft.aricraft_type
%p
  %b Tail number:
  = @aircraft.tail_number
%p
  %b Location:
  = @aircraft.location
%p
  %b Hub:
  = @aircraft.hub
%p
  %b Hours:
  = @aircraft.hours
%p
  %b Name:
  = @aircraft.name
%p
  %b Booked:
  = @aircraft.booked

= link_to 'Edit', edit_aircraft_path(@aircraft)
\|
= link_to 'Back', aircrafts_path
