%h2
  %i.fa.fa-users
  Airports
%hr.mb-5
.table-responsive
  %table.table.table-hover.table-striped.table-bordered
    %thead
      %tr.text-center
        %th{:scope => "col"} #
        %th{:scope => "col"} ICAO
        %th{:scope => "col"} Name
        %th{:scope => "col"} Lat
        %th{:scope => "col"} Long
        %th{:scope => "col"}
          %i.fa.fa-cogs
    %tbody
      - @airports.each_with_index do |airport, index|
        %tr.text-center
          %th{:scope => "row"}=index+1
          %td=airport.icao
          %td=airport.description
          %td=airport.lat
          %td=airport.long
          %td 

%hr.my-0.w-100
.card-actions.align-items-center.justify-content-center
  = paginate @airports
= page_entries_info @airports
