%section#about.page-section.bg-primary
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        %h2.text-white.mt-0 Welcome to Virtual Varig-Cruzeiro
        %hr.divider.light.my-4/
        %p.text-white-50.mb-4 We are a Virtual Airlines. We simulate online flights. We have no ties to real airlines.
        %a.btn.btn-light.btn-xl.js-scroll-trigger{:href => "#services"} Our Rules

