%section#contact.page-section
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        %h2.mt-0 Contact us!
        %hr.divider.my-4/
        %p.text-muted.mb-5 Send your message to our team and let's talk about any ideas
    .row
      .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
        %i.fa.fa-whatsapp.fa-3x.mb-3.text-muted
        %div
          %a{href: 'https://chat.whatsapp.com/F2tfWlBcAdo6VqTEHjJCaE', target: '_blank'} Whatspp
      .col-lg-4.mr-auto.text-center
        %i.fa.fa-envelope.fa-3x.mb-3.text-muted
        / Make sure to change the email address in anchor text AND the link below!
        %a.d-block{:href => "mailto:virtual@varig-cruzeiro.com.br"} virtual@varig-cruzeiro.com.br
