%section#estatistics.page-section
  .container
    %h2.text-center.mt-0 Our statistics
    %hr.divider.my-4/
    .row
      .col-lg-3.col-md-6.text-center
        .mt-5
          %i.fa.fa-4x.fa-plane.text-primary.mb-4{title: 'Aircrafts'}
          %h3.h4.mb-2 10
          %p.text-muted.mb-0 Our themes are updated regularly to keep them bug free!
      .col-lg-3.col-md-6.text-center
        .mt-5
          %i.fa.fa-4x.fa-users.text-primary.mb-4{title: 'Pilots'}
          %h3.h4.mb-2 50
          %p.text-muted.mb-0 All dependencies are kept current to keep things fresh.
      .col-lg-3.col-md-6.text-center
        .mt-5
          %i.fa.fa-4x.fa-location-arrow.text-primary.mb-4{title: 'Routes'}
          %h3.h4.mb-2 500
          %p.text-muted.mb-0 You can use this design as is, or you can make changes!
      .col-lg-3.col-md-6.text-center
        .mt-5
          %i.fa.fa-4x.fa-clock-o.text-primary.mb-4{title: 'Time of Flight'}
          %h3.h4.mb-2 + 100000
          %p.text-muted.mb-0 Is it really open source if it's not made with love?
