%section#fleet
  .container-fluid.p-0
    .row.no-gutters
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/1.jpg')}"}
          = image_tag 'fleet/1.jpg', class: 'img-fluid'
          .fleet-box-caption
            .project-category.text-white-50
              Category
            .project-name
              Project Name
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/2.jpg')}"}
          = image_tag 'fleet/2.jpg', class: 'img-fluid'
          .fleet-box-caption
            .project-category.text-white-50
              Category
            .project-name
              Project Name
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/3.jpg')}"}
          = image_tag 'fleet/3.jpg', class: 'img-fluid'
          .fleet-box-caption
            .project-category.text-white-50
              Category
            .project-name
              Project Name
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/4.jpg')}"}
          = image_tag 'fleet/4.jpg', class: 'img-fluid'
          .fleet-box-caption
            .project-category.text-white-50
              Category
            .project-name
              Project Name
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/5.jpg')}"}
          = image_tag 'fleet/5.jpg', class: 'img-fluid'
          .fleet-box-caption
            .project-category.text-white-50
              Category
            .project-name
              Project Name
      .col-lg-4.col-sm-6
        %a.fleet-box{href: "#{image_path('fleet/6.jpg')}"}
          = image_tag 'fleet/6.jpg', class: 'img-fluid'
          .fleet-box-caption.p-3
            .project-category.text-white-50
              Category
            .project-name
              Project Name
