%header.masthead
  .container.h-100
    .row.h-100.align-items-center.justify-content-center.text-center
      .col-lg-10.align-self-end
        %h1.text-uppercase.text-white.font-weight-bold IT WAS NEVER SO EASY TO FLY
        %hr.divider.my-4
      .col-lg-8.align-self-baseline
        %p.text-white-75.font-weight-light.mb-5 Varig-Cruzeiro is a non-profit online air simulation organization.
        - unless pilot_signed_in?
          = link_to new_pilot_registration_path, class: 'btn btn-outline-light btn-lg btn-xl js-scroll-trigger' do
            %i.fa.fa-plane
            Sign-up