%section.page-section.bg-light
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        %h2.mt-0 Last Pilots
        %hr.divider.my-4/
    .row
      .col
        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr.text-center
                %th{:scope => "col"} #
                %th{:scope => "col"} Callsign
                %th{:scope => "col"} Name
                %th{:scope => "col"} Rank
                %th{:scope => "col"} Country
                %th{:scope => "col"} City
                %th{:scope => "col"} IVAO
                %th{:scope => "col"} VATSIM
                %th{:scope => "col"} Hours
                %th{:scope => "col"} Location
                %th{:scope => "col"} Status
            %tbody
              - @last_pilots.each_with_index do |pilot, index|
                %tr.text-center
                  %th{:scope => "row"}=index+1
                  %td=pilot.callsign
                  %td=pilot.name
                  %td=pilot.rank.present? ? pilot.rank.description : ''
                  %td=pilot.country
                  %td=pilot.city
                  %td=pilot.ivao
                  %td=pilot.vatsim
                  %td=pilot.hours or 0
                  %td=pilot.location
                  %td=pilot.status.present? ? pilot.status : '-'