%h2
  %i.fa.fa-users
  Pilots
%hr.mb-5
.table-responsive
  %table.table.table-hover.table-striped.table-bordered
    %thead
      %tr.text-center
        %th{:scope => "col"} #
        %th{:scope => "col"} Callsign
        %th{:scope => "col"} Name
        %th{:scope => "col"} Rank
        %th{:scope => "col"} Country
        %th{:scope => "col"} City
        %th{:scope => "col"} IVAO
        %th{:scope => "col"} VATSIM
        %th{:scope => "col"} Hours
        %th{:scope => "col"} Location
        %th{:scope => "col"} Status
        %th{:scope => "col"}
          %i.fa.fa-cogs
    %tbody
      - @pilots.each_with_index do |pilot, index|
        %tr.text-center
          %th{:scope => "row"}=index+1
          %td.font-weight-bold.text-primary=pilot.callsign
          %td=pilot.name
          %td=pilot.rank.present? ? pilot.rank.description : ''
          %td=pilot.country
          %td=pilot.city
          %td=pilot.ivao
          %td=pilot.vatsim
          %td=pilot.hours or 0
          %td=pilot.location
          %td=pilot.status.present? ? pilot.status : '-'
          %td 
            = link_to edit_admin_pilot_path(pilot), class: 'btn btn-sm btn-primary', title: 'Edit' do
              %i.fa.fa-edit
