%footer.bg-light.py-5
  .container
    .row
      .col.d-flex.justify-content-center
        %a{:href => "https://ivao.aero/", target: '_blank' }
          = image_tag 'ivao.png', alt: '', width: '150'
        %a.mt-4.ml-4{:href => "https://www.vatsim.net/", target: '_blank'}
          = image_tag 'vatsim.png', alt: '', width: '300'
    %hr
    .small.text-center.text-muted Varig-Cruzeiro virtual - 2020
