%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.bg-light
  -# .container
  = link_to root_path, class: 'navbar-brand js-scroll-trigger' do
    = image_tag 'logo.png', alt: '', height: '50', width: '351'
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", 
    "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.my-2.my-lg-0
      %li.nav-item
        %a.nav-link.js-scroll-trigger{:href => "#{root_path}#page-top"} 
          %i.fa.fa-home
          Home
      %li.nav-item
        %a.nav-link.js-scroll-trigger{:href => "#{root_path}#estatistics"}
          %i.fa.fa-tasks
          Estatistics
      %li.nav-item
        %a.nav-link.js-scroll-trigger{:href => "#{root_path}#fleet"} 
          %i.fa.fa-plane
          Fleet
      %li.nav-item
        %a.nav-link.js-scroll-trigger{:href => "#{root_path}#contact"} 
          %i.fa.fa-envelope
          Contact
      %li.nav-item
        %a.nav-link.js-scroll-trigger{:href => "#{site_pages_pilots_path}"} 
          %i.fa.fa-users
          Pilots

    %ul.navbar-nav.my-2.my-lg-0.ml-3
      %li.nav-item
        - unless pilot_signed_in?
          = link_to new_pilot_session_path, class: 'btn btn-outline-secondary btn-sm js-scroll-trigger' do
            %i.fa.fa-sign-in
            Login

          = link_to new_pilot_registration_path, class: 'btn btn-outline-primary btn-sm js-scroll-trigger ml-2' do
            %i.fa.fa-plane
            Sign-up
        - else
          = link_to admin_root_path, class: 'btn btn-outline-info btn-sm js-scroll-trigger' do
            %i.fa.fa-user-circle
            Pilot Area
          = link_to destroy_pilot_session_path, method: :delete, class: 'btn btn-secondary btn-sm js-scroll-trigger ml-2' do
            %i.fa.fa-sign-out
            Logout