!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Varig Cruzeiro | Pilot Area
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .preloader
      .lds-ripple
        .lds-pos
        .lds-pos

    #main-wrapper{"data-boxed-layout" => "full", "data-layout" => "vertical", "data-navbarbg" => "skin6", "data-sidebartype" => "full", "data-theme" => "light"}
      = render 'layouts/admin/header'
      =render 'layouts/admin/sidebar'
      .page-wrapper        
        .container-fluid
          = yield
        = render 'layouts/admin/footer'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'