!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}

    %title Varig Cruzeiro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body#page-top
    = render 'layouts/navbar'
    = yield
    = render 'layouts/footer'
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'